.sidenav {
  height: 100vh;
  width: rem(220);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $blue;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: $white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: $dark-blue; 
}