.headerBack {
  position: relative;
  padding: 10px;
  margin: 0;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.headerBack h1 {
  color: $black;
}

.headerBack button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}