.input {
  background: $white;
  border: 1px solid $glacial-white;
  border-radius: 5px;
  width: auto;
  display: inline-block;
  font-family: $font1;
  height: rem(35);
  padding: 1em;

  &--textarea {
    height: 133.76px;
  }
}

.label {
  font-family: $font2;
  font-style: normal;
  font-weight: bold;
  font-size: rem(16);
  line-height: 2em;
  color: $black;
}

.checkboxes {
  display: flex;
}
