.sidenav {
  height: 100vh;
  position: fixed;
  width: 15%;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: $blue;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidenav a {
  padding: 1em;
  text-decoration: none;
  color: $white;
  display: block;
  font-size: 1em;
}

.sidenav ul{
  list-style: none;
  padding: 0;
}

.sidenav a:hover, .dropdown-container a:hover{
  color: #f1f1f1;
  background-color: $dark-blue;
  cursor: pointer;
}

.dropdown-container {
  display: none;
  background-color: $blue;
  padding-left: 8px;
}
.dropdown-container a{
  padding: 1em;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

