
RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d

Options -Indexes

RedirectMatch \.(env|yml|yaml|htaccess|sql)$ /

RedirectMatch 403 ^/Autoload.php$
RedirectMatch 403 ^/clickcreate.sql$
RedirectMatch 403 ^/insert-clickcreate.sql$


RewriteCond %{REQUEST_URI} !^/sitemap.xml$
RewriteCond %{REQUEST_URI} !^/config.env$
RewriteCond %{REQUEST_URI} !^/config-sample.env$
RewriteRule . /index.php [L]

RewriteCond %{REQUEST_URI} ^/sitemap.xml$
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^sitemap.php/  - [L]

RewriteRule ^Controllers/(.*)$ /
RewriteRule ^Core/(.*)$ /
RewriteRule ^Models/(.*)$ /
RewriteRule ^publisher/templatesPublisher(.*)$ /
RewriteRule ^Views/(.*)$ /

RewriteRule ^Autoload.php$ /


ErrorDocument 403 /error
