*{
	box-sizing: border-box;
} 
body{
	margin: 0;
	background-color: $blue-light;
	font-family: $font1, sans-serif;
}
h1,h2{
	font-family: $font2;
}
h1{
	font-size: rem(24);
}
h2{
	font-size: rem(16);
}
p{
	line-height: 1.4em;
}
.centered{
	display: flex;
	justify-content: center;
}

.container{
	max-width: 1140px;
	margin: auto;
	& > section{
		padding: 20px 0;
	}
}