$white:#FFF;
$grey:#AAA;
$light-grey:#dedede;
$glacial-white: #CFD8F4;
$dark-grey:#444;
$yellow: #ffc107;
$dark-yellow: #ff9900;
$red: #ce0a0a;
$green:#31aa66;
$black: #2C3E50;
$blue: #2980B9;
$dark-blue: #2e607e;
$blue-button: #185b86;
$blue-light: #F1F4F9;
$phone-width: 800px;
$light-red: #f8d7da;
$burgundy: #842029;
$light-green: #d1e7dd;
$dark-green: #0f5132;

