$white:#FFF;
$grey:#AAA;
$light-grey:#dedede;
$dark-grey:#444;
$yellow: #ffc800;
$red: #ce0a0a;
$green:#31aa66;
$black: #000000;
$blue: #64b0dc;
$dark-blue: #2D9CDB;
$blue-button: #64B0DC;
$blue-light: #F1F4F9;
$phone-width: 800px;

